*{
margin: 0;
padding: 0;
}
nav ul{
float: center;
margin-left: 40px;
}
form {
    font-size: 30px;
    color: dodgerblue;
    text-decoration: none;
}
h1{
    font-size: 48px;
    text-decoration: none;
    color: darkorchid;
}
a{
    font-size: 30px;
    color: dodgerblue;
    text-decoration: none;
}
 a:hover {
    color: rgb(208, 66, 208);
    text-decoration: underline;
 }
 label:hover {
      color: rgb(208, 66, 208);
    text-decoration: underline;

 }
 #Submit:hover {
      background-color: rgb(208, 66, 208);
 }
#fname{
    width: 350px;
    padding: 8px;
    color: dodgerblue;

}
#Lname{
    width: 350px;
    padding: 8px;
    color: dodgerblue;

}
#Email {
    width: 350px;
    padding: 8px;
    color: dodgerblue;
}
#Servicename {
    width: 350px;
    padding: 8px;
    color: dodgerblue;
}
#ServiceType {
    width: 350px;
    padding: 8px;
    color: dodgerblue;

}
#Servicedesc {
    width: 350px;
    padding: 8px;
    color: dodgerblue;

}
#Submit {
    padding: 8px;
    background-color: dodgerblue;
}

     body{
        border-color: #ddd;
        border-radius: 25px;
        border-style: solid;
        display:grid;
        border-width: 2.5px;
        width: 100%;

    }

  ::placeholder{
    color: dodgerblue;
  }
 #return h1{          
    display: flex;
    align-items: center;
    justify-content: center}
    #return a{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .Service-card3 {
    display: flex;
    align-items: center;
   width: 100%;
    padding-bottom: 45px;
    padding-top: 10px;
    justify-content: center;
}